<html>
  <head>
    <title>SEQUELIZE</title>
  </head>
  <body>
    <ul>
      <li><a href='/teacher'>Teacher</a></li>
      <li><a href='/subject'>Subject</a></li>
      <li><a href='/student'>Student</a></li>
  <body>
</html>
