<html>
  <head>
    <title>Add Students</title>
  </head>
  <body>
    <h3>Add data students</h3>
    <p><a href='/student'>Show all data</a></p>
    <form action="/student/add" method="post">
    <p>First Name</p>
    <input type="text" name="first_name" placeholder="first name">
    <p>Last Name</p>
    <input type="text" name="last_name" placeholder="last name">
    <p>Email</p>
    <input type="email" name="email" placeholder="email">
    <p>
    <input type="submit" value="Add Student">
    </p>
    </form>
  </body>
</html>
